
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    -moz-control-character-visibility: visible;
  }
  
  .nowrap pre {
    white-space: pre;
  }
  
  /* Make text go with the rules of dir=auto, but allow it to be overriden if 'Switch Text Direction' is triggered */
  html:not([dir]) pre { /* Not a UA sheet, so doesn't use :-moz-has-dir-attr */
    unicode-bidi: plaintext;
  }
  
  @-moz-document unobservable-document() {
    @media (prefers-color-scheme: dark) {
      :root {
        /* in-content-page-{color, background} for dark theme. */
        background: #2a2a2e;
        color: rgb(249, 249, 250);
      }
    }
  }
  

  